@media (min-width: 576px) {
    :root {
        font-size: 16px;
    }
}
@media (max-width: 576px) {
    :root {
        font-size: 14px;
    }
}
:root{
    --font: Inter, system-ui, -apple-system, Arial, Helvetica, sans-serif;
    --theme-color: #0e315b;
    --white-color: #ffffff;
    --light-color: #ebebf7;
    --color-muted: #d0d7deb3;
    --label-font-color: #636c76;
    --small-font-color: #334155;
    --font-color: #1f2328;

    --b-shadow: 0px 3px 6px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.05);
    --b-shadw-around: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    --b-shadw-dark:0 5px 10px rgba(103, 121, 190, 0.05), 0 15px 40px rgba(73, 100, 200, 0.104);
    --b-shadw-darker: 0 10px 25px rgba(0, 0, 0, 0.2);
    --b-shadw-inset: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    --h1-size: 1.5rem;
    --h2-size: 1rem;
    --p-size: 0.875rem;
    --label-size:0.75rem;
    --small-size: 0.65rem;

    --radius-input: 3px;
    --radius-cards: 6px;
    --font-weight-light: 400;
    --font-weight-bold: 500;
    --font-weight-bolder: 600;

    --reset: 0;
    --a-10: 10px;
    --a-15: 15px;
    --a-20: 20px;

    --input-height: 36px;
}
body{
    width: auto;
    background-color: var(--light-color);
}
.page-wrapper {
    width: auto;
    display: flex;
    flex-direction: row;
}
.content{
    width: calc(100% - 320px);
    background-color: var(--light-color);   
    flex-grow: 1;
}
.active-page{
    border-color: var(--theme-color) !important;
    color: var(--theme-color) !important;
}

.red{ outline: 1px solid red; }
/* with  */
.w-fit{ width:fit-content;}
.w-full{ width:100%;}

/* height  */
.h-full{ height:100%;}
.h-auto{ height: auto;}
.h-100{ height:100vh;}
.h-fit{ height:fit-content;}

/* position  */
.relative{position: relative;}
.fixed{position: fixed;}
.absolute{position: absolute;}
.sticky{position: sticky;}

/* z-index  */
.z-1{ z-index: 1; }
.z-2{ z-index: 2; }
.z-3{ z-index: 3; }
.z-4{ z-index: 4; }
.z-5{ z-index: 5; }

/* background color  */
.bg-white{ background-color: var(--white-color); }
.bg-light{ background-color: var(--light-color); }
.bg-muted{ background-color: var(--color-muted); }
.bg-theme{ background-color: var(--theme-color); }
.bg-darkgray{ background-color: var(--label-font-color); }
.bg-error{ background-color: crimson; }

.font{ font-family: var(--font);}

/* font size  */
.z-h1{ font-size: var(--h1-size); }
.z-h2{ font-size: var(--h2-size); }
.z-p{ font-size: var(--p-size); }
.label{ font-size: var(--label-size); }
.small{ font-size: var(--small-size); }

/* font weight  */
.text-light{ font-weight: var(--font-weight-light); }
.text-bold{ font-weight: var(--font-weight-bold); }
.text-bolder{ font-weight: var(--font-weight-bolder); }

/* border  */
.border-none{ border: none;}
.border{ border: 1px solid var(--label-font-color); }
.border-dark{ border: 1px solid var(--small-font-color); }
.border-theme{ border: 1px solid var(--theme-color); }
.border-error{ border: 1px solid crimson; }

/* border radius  */

/* outline  */
.outline-none{outline:none;}
.outline-error{ outline: 1px solid crimson !important;}


/* font color  */
.text-black{ color: var(--font-color); }
.text-white{ color: var(--white-color); }
.text-gray{ color: var(--label-font-color); }
.text-darkgray{ color: var(--small-font-color); }
.text-theme{ color: var(--theme-color); }
.text-error{color: crimson; height: 20px;}


/* text position  */
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-center{text-align: center;}


/* padding  */
.p-0{ padding: 0;}
.p-3{ padding: 3px;}
.p-5{ padding: 5px;}
.p-10{ padding: 10px;}
.p-15{ padding: 15px;}
.p-20{ padding: 20px;}

.p-3-left{ padding-left: 3px;}
.p-5-left{ padding-left: 5px;}
.p-10-left{ padding-left: 10px;}
.p-15-left{ padding-left: 15px;}
.p-20-left{ padding-left: 20px;}

.p-3-right{ padding-right: 3px;}
.p-5-right{ padding-right: 5px;}
.p-10-right{ padding-right: 10px;}
.p-15-right{ padding-right: 15px;}
.p-20-right{ padding-right: 20px;}

.p-3-top{ padding-top: 3px;}
.p-5-top{ padding-top: 5px;}
.p-10-top{ padding-top: 10px;}
.p-15-top{ padding-top: 15px;}
.p-20-top{ padding-top: 20px;}

.p-3-bottom{ padding-bottom: 3px;}
.p-5-bottom{ padding-bottom: 5px;}
.p-10-bottom{ padding-bottom: 10px;}
.p-15-bottom{ padding-bottom: 15px;}
.p-20-bottom{ padding-bottom: 20px;}

/* margins  */
.m-0{ margin: 0;}

.m-10{ margin: 10px;}
.m-15{ margin: 15px;}
.m-20{ margin: 20px;}

.m-10-left{ margin-left: 10px;}
.m-15-left{ margin-left: 15px;}
.m-20-left{ margin-left: 20px;}

.m-10-right{ margin-right: 10px;}
.m-15-right{ margin-right: 15px;}
.m-20-right{ margin-right: 20px;}

.m-10-top{ margin-top: 10px;}
.m-15-top{ margin-top: 15px;}
.m-20-top{ margin-top: 20px;}

.m-10-bottom{ margin-bottom: 10px;}
.m-15-bottom{ margin-bottom: 15px;}
.m-20-bottom{ margin-bottom: 20px;}

/* radius  */
.r-0{ border-radius: 0;}
.r-3{ border-radius: 3px;}
.r-5{ border-radius: 5px;}
.r-6{ border-radius: 6px;}
.r-8{ border-radius: 8px;}

/* shadow  */
.b-shadow{box-shadow: var(--b-shadow);}
.b-shadw-around{box-shadow: var(--b-shadw-around);}
.b-shadw-dark{box-shadow: var(--b-shadw-dark);}
.b-shadw-darker{box-shadow: var(--b-shadw-darker);}
.b-shadw-inset{box-shadow: var(--b-shadw-inset);}



/* for btn  */
.z-btn{
    padding: 7px 15px;
    border-radius: var(--radius-input);
    font-size: var(--p-size);
}
.z-btn-primary{
    border: none;
    background-color: var(--theme-color);
    color: var(--white-color);
    height: 36px;
}
.z-btn-secondary{
    border: 1px solid var(--theme-color);
    color: var(--theme-color);
    font-weight: var(--font-weight-bolder);
}

/* for input  */
.z-input{
    height: var(--input-height);
    border: none;
    outline: none;
    box-shadow: var(--b-shadw-inset); 
    padding-left: 7px;   
}

.z-input:hover, .z-input:focus{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    outline: 1px solid rgba(81, 203, 238, 1);
}

/* for flex  */
.flex{ display: flex; }
.flex-row{ flex-direction: row; }
.flex-column{ flex-direction: column; }
.flex-wrap{ flex-wrap: wrap; }
.items-top{ align-items: start; }
.items-center{ align-items: center; }
.items-end{ align-items: end; }
.justify-left{ justify-content: left; }
.justify-center{ justify-content: center; }
.justify-right{ justify-content: right; }
.justify-between{ justify-content: space-between; }
.justify-even{ justify-content: space-evenly; }

.gap-10{ gap: 10px; }
.gap-15{ gap: 15px; }
.gap-20{ gap: 20px; }


/* Modal Open/Close Animations */
@keyframes modal-appear {
    from {
        transform: translateY(0);
        opacity: 1; 
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }
}

/* for modal  */

.modal-overlay {
    position: fixed;
    top: var(--reset);
    left: var(--reset);
    width: clamp(382px, 100%, 100%);
    height: 100%;
    background-color: #00000099;
    display: flex;
    justify-content: center;
    z-index: 3;
    opacity: var(--reset);
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    overflow: auto;
    padding-top: 50px;
}
  
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.z-hide{
    display: none;
}
